<div class="add-post-wrapper">
    <div class="add-post-flex">
        <label for="upload-post-file" class="custom-file-uploader button-icon" data-tooltip="ფაილის არჩევა">
            <i class="material-symbols-outlined">attach_file</i>
        </label>
        <input type="file" multiple="multiple" id="upload-post-file" accept="*" class="upload-file">
        <div class="input-wrapper">
            <div class="upload-file-previews" id="filePreviews">
            </div>
            <input type="text" id="addPostInput" class="input-self add-post-input" placeholder="დაწერეთ პოსტი">
        </div>

        <button class="button button-icon" id="addPostButton" data-tooltip="პოსტის გამოქვეყნება">
            <i class="material-symbols-outlined">send</i>
        </button>
    </div>
</div>