<div class="fixed-bottom">
    <a class="fixed-bottom-wrapper" href="/">
        <span class="fixed-bottom-text">მთავარი</span>
        <i class="material-symbols-outlined">home</i>
    </a>
    <a class="fixed-bottom-wrapper" href="/users/{{user_name}}">
        <span class="fixed-bottom-text">ჩემი გვერდი</span>
        <i class="material-symbols-outlined">contact_page</i>
    </a>
    <button class="button fixed-bottom-wrapper">
        <span class="fixed-bottom-text">კონტაქტები</span>
        <i class="material-symbols-outlined">group</i>
    </button>
    <button class="button fixed-bottom-wrapper">
        <span class="fixed-bottom-text">შეტყობინებები</span>
        <i class="material-symbols-outlined">notifications</i>
    </button>
    <a class="fixed-bottom-wrapper" href="/account">
        <span class="fixed-bottom-text">კაბინეტი</span>
        <i class="material-symbols-outlined">person</i>
    </a>
</div>