<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="/public/css/styles.css">
</head>

<body>
    <div class="app-container">
        <div class="account-container">
            <div class="account-wrapper-desk display-nb">
                <div class="account-list">
                    <a href="/account/about"
                        class="account-listitem list-divider {{#if showAbout}}account-active{{/if}}"
                        id="accPrivacyDesk">
                        <i class="material-symbols-outlined">perm_identity</i>
                        პირადი ინფორმაცია
                    </a>
                    <a href="/account/password"
                        class="account-listitem list-divider {{#if showPassword}}account-active{{/if}}"
                        id="accPassDesk">
                        <i class="material-symbols-outlined">lock_open</i>
                        პაროლის ცვლილება
                    </a>
                    <a href="/account/contacts"
                        class="account-listitem list-divider {{#if showContacts}}account-active{{/if}}"
                        id="accContacts">
                        <i class="material-symbols-outlined">contact_page</i>
                        კონტაქტები
                    </a>
                    <a href="/account/relations"
                        class="account-listitem list-divider {{#if showRelations}}account-active{{/if}}"
                        id="accRelations">
                        <i class="material-symbols-outlined">explore</i>
                        ურთიერთობები
                    </a>

                    <a href="/account/blocks"
                        class="account-listitem list-divider {{#if showBlocks}}account-active{{/if}}" id="accBlocks">
                        <i class="material-symbols-outlined">block</i>
                        დაბლოკილები
                    </a>
                    <a href="/account/add-group" class="account-listitem list-divider">
                        <i class="material-symbols-outlined">group_add</i>
                        ჯგუფის დამატება
                    </a>
                    <div class="account-listitem" id="accLogout">
                        <i class="material-symbols-outlined">exit_to_app</i>
                        გასვლა
                    </div>
                </div>
            </div>
            <div class="account-content">
                {{#if showAbout}}
                {{> account/about}}
                {{/if}}
                {{#if showPassword}}
                {{> account/changePass}}
                {{/if}}
                {{#if showRelations}}
                {{> account/relations }}
                {{/if}}
                {{#if showContacts}}
                {{> account/contacts}}
                {{/if}}
                {{#if showBlocks}}
                {{> account/blocks}}
                {{/if}}
            </div>
        </div>
    </div>
</body>

</html>