<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>მომხმარებლის გვერდი</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/public/css/styles.css">
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
</head>

<body class="{{detectMode mode}}">
    {{> general/header}}
    <div class="app-container">
        {{> user-page/userPageAbout}}
        <div class="main-content">
            {{> user-friends/friendsPage}}
        </div>
        {{> general/contacts}}
    </div>
    {{> general/fixedBottom}}
    <audio id="audioMessage">
        <source src="/public/sounds/push.wav" type="audio/mpeg">
    </audio>
    <div class="overlay-container"></div>
    <div class="toast-container"></div>
    <script src="/public/js/user-friends/user-friends.mjs" type="module"></script>
</body>

</html>