<div class="about-container">
    <div class="about-header">
        <button class="button button-icon display-bn" id="accBackButton">
            <i class="material-symbols-outlined">chevron_left</i>
        </button>
        <span>პირადი ინფორმაცია</span>
        <span class="material-symbols-outlined">beenhere</span>
    </div>
    <div class="about-content">
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label user-label">მომხმარებლის სახელი</label>
            <div class="input-wrapper">
                <input type="text" id="" class="auth-input account-input" disabled="true" placeholder="ნიკა">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">person</i>
                </div>
            </div>
        </div>
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label password-label">მომხმარებლის გვარი</label>
            <div class="input-wrapper">
                <input type="text" class="auth-input account-input" disabled="true" placeholder="გოხაძე">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">person</i>
                </div>
            </div>
        </div>
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label user-label">მომხმარებლის ნომერი</label>
            <div class="input-wrapper">
                <input type="text" id="" class="auth-input account-input" disabled="true" placeholder="557979920">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">call</i>
                </div>
            </div>
        </div>
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label password-label">მომხმარებლის მეილი</label>
            <div class="input-wrapper">
                <input type="text" id="" class="auth-input account-input" disabled="true" placeholder="საჯარო რეესტრი">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">group</i>
                </div>
            </div>
        </div>
    </div>
</div>