<div class="pass-container">
    <div class="about-header">
        <button class="button button-icon display-bn" id="accBackButton">
            <i class="material-symbols-outlined">chevron_left</i>
        </button>
        <span>პაროლის ცვლილება</span>
        <span class="material-symbols-outlined">beenhere</span>
    </div>
    <div class="pass-content">
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label user-label">ძველი პაროლი</label>
            <div class="input-wrapper">
                <input type="password" id="" class="auth-input account-input">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">lock</i>
                </div>
            </div>
        </div>
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label password-label">ახალი პაროლი</label>
            <div class="input-wrapper">
                <input type="password" id="" class="auth-input account-input">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">lock</i>
                </div>
            </div>
        </div>
        <div class="auth-input-wrapper account-input-wrapper">
            <label for="user-mail" class="input-label user-label">გაიმეორეთ პაროლი</label>
            <div class="input-wrapper">
                <input type="password" id="" class="auth-input account-input">
                <div class="input-group-append">
                    <i class="material-symbols-outlined">lock</i>
                </div>
            </div>
        </div>
        <button class="button pass-button" id="changePassButton">შენახვა</button>
    </div>
</div>
